.book .book-header {
  margin-right: 100px;
}

.book .book-header h1 {
  padding-left: 120px;
  padding-right: 120px;
}

a#ribbon {
  box-shadow: 0 0 3px rgba(0,0,0,.3);
  color: #f0f0f0;
  letter-spacing: 1px;
  line-height: 40px;
  position: fixed;
  right: -50px;
  text-align: center;
  transform: rotate(45deg);
  top: 25px;
  width: 200px;

  -webkit-transform: rotate(45deg);
}

a#ribbon.black {
  background: #333;
}

a#ribbon.blue {
  background: #1e80c6;
}

a#ribbon.green {
  background: #10a887;
}

a#ribbon.orange {
  background: #f17f42;
}

a#ribbon.red {
  background: #da3c3c;
}

.ribbon-toolbar i.fa {
  display: none;
}

@media (max-width:800px) {
  .book .book-header {
    margin-right: 0px;
  }

  a#ribbon {
    display: none;
  }

  .ribbon-toolbar i.fa {
    display: inline-block;
  }

}
